<a href="/">List of Rooms</a>
<h2>Welcome to the "{{room.name}}" chat room</h2>
<div class="col">
  <h3>Messages</h3>
  <div class="overflowable">
    <p ng-repeat="message in room.messages" ng-class="{alert: message.user == &quot;alert&quot;}">{{message.user}}: {{message.text}}</p>
  </div>
  <form ng-submit="sendMessage()">
    <input ng-model="message"/>
    <input type="submit" value="Send"/>
  </form>
</div>
<div class="col">
  <h3>Users</h3>
  <div class="overflowable">
    <p ng-repeat="user in room.users">{{user}}</p>
  </div>
</div>