<nav class="top-bar">
	<ul class="title-area">
		<li class="name"></li>
		<li class="toggle-topbar menu-icon"><a href = "#"><span>Menu</span></a></li>
	</ul>
	<section class="top-bar-section">
		<ul class="left">
			<li ng-show="nav.username"><button ng-click="nav.eatCookie()">Logout</button></li>
			<li ng-hide="nav.username"><a class="button" href="/auth/facebook" target="_self">Login</a></li>
		</ul>
	    <ul class="right">
	      <li ng-show="nav.username"><button>{{nav.username}}</button></li>
	    </ul>
	</section>
</nav>